@page "/articlebrowser"
@using Services
@using Models
@inject IArticleService articleService

<div class="table-container">
    <div class="filter-container">
        <div class="filter-category">
            <label for="categoryFilter">Category:</label>
            <select id="categoryFilter" @bind="selectedCategory">
                @foreach (var category in categories)
                {
                    <option value="@category">@category</option>
                }
            </select>
        </div>
        <div class="filter-date">
            <label for="dateFrom">Date From:</label>
            <input type="date" id="dateFrom" @bind="from">
        </div>
        <div class="filter-date">
            <label for="dateTo">Date To:</label>
            <input type="date" id="dateTo" @bind="to">
        </div>
        <div class="filter-limit">
            <label for="articleLimit">Limit Articles:</label>
            <input type="number" id="articleLimit" min="1" @bind="articleLimit">
        </div>
        <button class="filter-button" @onclick="ApplyFilters">Apply filter</button>
    </div>

    <table>
        <thead>
            <tr>
                <th class="th-date">Date</th>
                <th class="th-category">Category</th>
                <th class="th-url">Url</th>
                <th class="th-summary">Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in articles)
            {
                <tr @onclick="() => OnRowClickedHandler(article.Id)" class="row-container @(activeArticle == article.Id ? "active-row" : "")">
                    <td>@article.Date.ToString("yyyy-MM-dd")</td>
                    <td>@article.Category</td>
                    <td><a href="@article.WebUrl" target="_blank" @onclick:stopPropagation>Web URL</a></td>
                    <td>@(article.Description.Length <= 100 ? article.Description : article.Description.Substring(0, 100) + "...")</td>
                </tr>

                @if (activeArticle == article.Id)
                {
                <tr class="article-container">
                    <td colspan="4">
                        <div class="active-article-content">
                            <div class="article-content-header">Article Description</div>
                            <div class="article-content-body">@article.Description</div>
                        </div>
                        <div class="active-article-content">
                            <div class="article-content-header">Article Content</div>
                            <div class="article-content-body">@article.Content</div>
                        </div>
                    </td>
                </tr>
                }
                
            }
        </tbody>
    </table>
</div>


@code {
    private List<Article> articles = new();
    private int? activeArticle = null;
    private List<string> categories = new();
    private string? selectedCategory = null;
    private DateTime? from = null;
    private DateTime? to = null;
    private int? articleLimit = 200;

    protected async override void OnInitialized()
    {
        categories = await articleService.GetUniqueCategories();
        var article = await articleService.GetArticlesAsync(scraped: true, limit: 1);
        selectedCategory = categories.Any() ? categories[0] : null;
        if (article.Any())
            selectedCategory = article[0].Category;

        await ApplyFilters();
    }

    private Task<List<Article>> GetDataFromServer()
    {
        return articleService.GetArticlesAsync(true);
    }

    private void OnRowClickedHandler(int articleId)
    {
        if (activeArticle == articleId)
            activeArticle = null;
        else
            activeArticle = articleId;
    }

    private async Task ApplyFilters()
    {
        this.articles = await articleService.GetArticlesAsync(
            scraped: true,
            category: selectedCategory,
            from: from,
            to: to,
            limit: articleLimit);

        StateHasChanged();
    }
}

